<!-- Home page structure -->
<h4 class="text-center">Welcome to your To Do List App</h4>

<div class="cardContainer">
  <!-- Card 1 -->
  <div class="card" [routerLink]="'/todo-list'">
    <h2>Add Tasks</h2>
    <p>Easily <strong>add new tasks</strong> to your to-do list.</p>
  </div>

  <!-- Card 2 -->
  <div class="card" [routerLink]="'/todo-list'">
    <h2>Manage Tasks</h2>
    <p><strong>Edit, delete, or mark</strong> tasks as completed.</p>
  </div>

  <!-- Card 3 -->
  <div class="card" [routerLink]="'/todo-list'">
    <h2>Stay Organized</h2>
    <p><strong>Manage</strong> your to do list to stay Organized</p>
  </div>
</div>

<!-- Sections -->
<div class="sections">
  <!-- Section 1 -->
  <div class="cardSection">
    <h3>Section 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui vitae leo condimentum consequat. Phasellus nec massa id est venenatis vestibulum.</p>
  </div>

  <!-- Section 2 -->
  <div class="cardSection">
    <h3>Section 2</h3>
    <p>Curabitur volutpat condimentum quam, quis vestibulum sapien viverra vel. Fusce nec metus vel lectus pretium cursus non vitae libero.</p>
  </div>

  <div class="cardSection">
    <h3>More Info</h3>
    <p>Discover more about our app's unique features and how it can streamline your daily tasks. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <!-- Section 4: Additional Section 2 -->
  <div class="cardSection">
    <h3>Exclusive Offer</h3>
    <p>Don't miss out on our limited-time offer! Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>

<!-- Contact Us Section -->
<div class="contactSection">
  <div class="contact">
    <h3>Contact Us</h3>
    <p>If you have any questions or feedback, feel free to reach out to us!</p>
    <div class="contact-info">
      <p>Email: contacttodolist-app.com</p>
      <p>Phone: +1234567890</p>
    </div>
  </div>
</div>








