/* App Component Styles */
header {
  height: 9.375rem;;
}

header h1 {
  color: var(--title-color);
  font-size: 4em;
  font-weight: 100;
}

main {
  height: calc(100vh - 9.375rem);
  padding-top: 3rem;
}

