<h1>Your Task</h1>

<!-- async pipe -> is sub on this todoitems observable -->
<ng-container *ngIf="toDoItems$ | async as toDoItems">

  <!-- add new todoitem -->
  <!---------------------->
  <!-- Form for adding a new to-do item -->
  <form (ngSubmit)="onSubmitNewToDoItem()" class="AddNewToDoItem">
    <!-- new title -->
    <div class="field addNewTitle">
      <h4 class="fieldtitle">New Task</h4>
      <!-- error for title -->
      <div *ngIf="titleErrorMessage" class="error-message">
        {{ titleErrorMessage }}
      </div>
      <input type="text" class="text" placeholder="What do you have planned?" [(ngModel)]="newToDoItemTitle" name="newTitle"/>
    </div>
    <!-- new content -->
    <div class="field addNewContent">
      <h4 class="fieldtitle">New Description</h4>
      <!-- error for content -->
      <div *ngIf="contentErrorMessage" class="error-message">
        {{ contentErrorMessage }}
      </div>
      <input type="text" class="text" placeholder="Write a description" [(ngModel)]="newToDoItemContent" name="newContent"/>
    </div>
    <button [disabled]="isAddButtonDisabled()" class="myBtn myBtnSave" type="submit">Add</button>
  </form>

  <!--------------------->
  <!-- To do item view -->
  <div class="cardContainer">
    <div class="card" *ngFor="let toDoItem of toDoItems">
      <div class="cardBody">
        <div class="field">
          <!-- isMarked -->
          <input
            title="Mark or not"
            type="checkbox"
            class="checkbox"
            [checked]="toDoItem.isMarked"
          />
        </div>
        <!-- title -->
        <div class="field">
          <h4 class="fieldtitle">Task</h4>
          <input
            title="title"
            type="text"
            class="text"
            [(ngModel)]="toDoItem.title"
            [readonly]="!isInEditMode(toDoItem.id.toString())"
          />
        </div>
        <!-- content -->
        <div class="field">
          <h4 class="fieldtitle">Description</h4>
          <input
            title="description"
            type="text"
            class="text"
            [(ngModel)]="toDoItem.content"
            [readonly]="!isInEditMode(toDoItem.id.toString())"
          />
        </div>
        <!-- created at  -->
        <div class="field">
          <h4 class="fieldtitle">Date of creation</h4>
          <div class="text">{{toDoItem.createdAt | date: 'MM/dd/yyyy HH:mm'}}</div>
        </div>
        <!-- updated at -->
        <div class="field">
          <h4 class="fieldtitle">Last changes</h4>
          <div class="text">{{toDoItem.updatedAt| date: 'MM/dd/yyyy HH:mm'}}</div>
        </div>
        <!-- edit button -->
        <button *ngIf="!isInEditMode(toDoItem.id.toString())" class="myBtn myBtnEdit" (click)="onEdit(toDoItem)">Edit</button>
        <!-- delete button -->
        <button *ngIf="!isInEditMode(toDoItem.id.toString())" class="myBtn myBtnDelete" (click)="onDelete(toDoItem.id.toString())">Delete</button>
        <!-- save button -->
        <button *ngIf="isInEditMode(toDoItem.id.toString())" class="myBtn myBtnSave" (click)="onSave(toDoItem)">Save</button>
        <!-- cancel button -->
        <button *ngIf="isInEditMode(toDoItem.id.toString())" class="myBtn myBtnCancel" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</ng-container>
