<h1>Your Task</h1>

<!-- async pipe -> is sub on this todoitems observable -->
<ng-container *ngIf="toDoItems$ | async as toDoItems">
  <div class="cardContainer">
    <div class="card" *ngFor="let toDoItem of toDoItems">
      <div class="cardBody">
        <div class="field">
          <!-- isMarked -->
          <input
            title="Mark or not"
            type="checkbox"
            class="checkbox"
            [checked]="toDoItem.isMarked"
          />
        </div>
        <!-- title -->
        <div class="field">
          <h4 class="fieldtitle">Task</h4>
          <input
            title="title"
            type="text"
            class="text"
            [(ngModel)]="toDoItem.title"
            [readonly]="!isInEditMode(toDoItem.id.toString())"
          />
        </div>
        <!-- content -->
        <div class="field">
          <h4 class="fieldtitle">Description</h4>
          <input
            title="description"
            type="text"
            class="text"
            [(ngModel)]="toDoItem.content"
            [readonly]="!isInEditMode(toDoItem.id.toString())"
          />
        </div>
        <!-- created at  -->
        <div class="field">
          <h4 class="fieldtitle">Created</h4>
          <div class="text">{{toDoItem.createdAt | date: 'MM/dd/yyyy HH:mm'}}</div>
        </div>
        <!-- updated at -->
        <div class="field">
          <h4 class="fieldtitle">Upadate</h4>
          <div class="text">{{toDoItem.updatedAt| date: 'MM/dd/yyyy HH:mm'}}</div>
        </div>
        <!-- edit button -->
        <button *ngIf="!isInEditMode(toDoItem.id.toString())" class="myBtn myBtnEdit" (click)="onEdit(toDoItem)">Edit</button>
        <!-- delete button -->
        <button *ngIf="!isInEditMode(toDoItem.id.toString())" class="myBtn myBtnDelete" (click)="onDelete(toDoItem.id.toString())">Delete</button>
        <!-- save button -->
        <button *ngIf="isInEditMode(toDoItem.id.toString())" class="myBtn myBtnSave" (click)="onSave(toDoItem)">Save</button>
        <!-- cancel button -->
        <button *ngIf="isInEditMode(toDoItem.id.toString())" class="myBtn myBtnCancel" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>

  <!-- add new todoitem -->
  <!-- Button to toggle adding a new item -->
  <button *ngIf="!isAddingNew" class="myBtn myBtnAddNew" (click)="toggleAddNew()">Add New</button>

  <!-- Form for adding a new to-do item -->
  <div *ngIf="isAddingNew">
    <form (ngSubmit)="onSubmitNewToDoItem()">
      <div class="field">
        <h4 class="fieldtitle">New Task</h4>
        <input type="text" class="text" placeholder="Enter title" [(ngModel)]="newToDoItemTitle" name="newTitle"/>
      </div>
      <div class="field">
        <h4 class="fieldtitle">New Description</h4>
        <input type="text" class="text" placeholder="Enter description" [(ngModel)]="newToDoItemContent" name="newContent"/>
      </div>
      <button class="myBtn myBtnSave" type="submit">Add</button>
      <button type="submit" class="myBtn myBtnCancel" (click)="cancelAddNew()">Cancel</button>
    </form>
  </div>
</ng-container>
