/* Css for toDoList component */

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

input[type="checkbox"]:checked {
  background-color: var(--success-color);
  border-radius: .5rem;
  border: 2px solid var(--quaternary-color);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marked {
  text-decoration: line-through;
  color: var(--card-color);
}

/********************
  Add new To Do Item
*********************/
.AddNewToDoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 3rem;
  border-radius: .5rem;
  padding: 1.25rem;
}

.addNewTitle, .addNewContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.newField {
  width: 15.625rem;
  height: 2.5rem;
  background-color: var(--section-color);
  border-radius: .5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: .5rem;
}

.newField:hover {
  transition: all 0.3s ease-in-out;
}

.newField::placeholder {
  color: var(--quaternary-color);
  padding-left: .5rem;
}

/* css for the message show if there aren't to do item  */
.noItemsMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

/*********
  Card
***********/
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  margin-bottom: 5rem;
}

.card {
  background-color: var(--section-color);
  border-radius: .5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  cursor: pointer;
}

.cardBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.text {
  color: var(--quaternary-color);
  font-size: 1.25rem;
}

.titleText {
  color: var(--card-color);
}

/*********
  Buttton
***********/
.myBtn {
  border: none;
  border-radius: .5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.myBtn:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.myBtnEdit, .myBtnSave {
  background-color: var(--card-color);
}

.myBtnDelete, .myBtnCancel {
  background-color: var(--tertiary-color);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.checkbox {
  cursor: pointer;
  background-color: var(--tertiary-color);
  border-radius: .5rem;
  border: 2px solid var(--quaternary-color);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

/* MEDIA QUERIES */

/* For max 1200px */
@media screen and (max-width: 75rem) {

  .AddNewToDoItem {
    align-items: flex-end;
  }

  .addNewTitle, .addNewContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .myMarginBottom {
    margin-bottom: .5rem;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .card {
    width: 100%;
  }

  .cardBody {
    flex-direction: column;
    align-items: center;
  }

  .field {
    width: 100%;
  }

  .myBtn {
    width: 100%
  }

  .myBtn:hover {
    transition: all 0.3s ease-in-out;
    transform: none;
    opacity: 0.8;
  }
}

/* for max 992 */
@media screen and (max-width: 62rem) {
  .AddNewToDoItem {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .addNewTitle, .addNewContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
  }

  .myMarginBottom, .newField {
    width: 25rem;

  }
}


/* Media query for small screen */
@media screen and (max-width: 30rem) {
  .cardContainer {
    gap: 1rem;
  }

  .field {
    gap: 0.3rem;
  }
}
